$bg-image: url(../img/m-h-day.jpg);
$color-text: #2c2f3c;
$mainColorBg: white;
$bgColorBanner: linear-gradient(45deg, #679704, #2d5bd7);
$bgColorT: #14a0c7;
$bgSection: #21232e;
$colorSectionText:#21232e;
$fontAll:'Hind', sans-serif;
$buttonColor: #679704;
$bannerCol: #21232e;

$advTop: 549px;
$advLeft: 635px;
$advH: 30px;
$advW: 123px;


$bannerTextCol: #c0c3c4;