$bg-image: url(../img/m-h-night.jpg);
$color-text: white;
$mainColorBg:  #21232e;
$bgColorBanner: linear-gradient(45deg,#e2aa01, #922c53);
$bgColorT: #ff4e33;
$bgSection:#3b3f50;
$colorSectionText:white;
$fontAll: 'Fresca', sans-serif;
$buttonColor: #e2aa01;
$bannerCol:white;

$advTop: 510px;
$advLeft: 635px;
$advH: 30px;
$advW: 123px;


$bannerTextCol: #d1cfd1;